@import "../../styles/breakpoints";

.category {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.description {
  font-weight: bold;
}

.grid {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 2rem 0;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
