.category {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.description {
  font-weight: bold;
}

.grid {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
}
