@import "../../styles/mixins/pill";

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-gap: 1em;
}

.category {
  @include pill-outer;
}

.link {
  @include pill-inner;
}
