@import "../../styles/breakpoints";
@import "../../styles/functions/hue-color";
@import "../../styles/mixins/rounded";

.product {
  @include rounded;

  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem;
  border: 2px solid;
  border-color: hue-color(90%);
  transition: all 0.2s ease-in;

  &:hover {
    border-color: hue-color(30%);
  }
}

.thumbnail {
  display: flex;
  min-height: 125px;

  @media (min-width: $breakpoint-sm) {
    justify-content: center;
  }
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.category {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
