.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 4rem);
  text-align: center;
}

.pageTop {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pageBottom {
  flex: 3;
}

.welcome {
  margin: 0 0 2rem 0;
  font-size: 5rem;
}

.instruction {
  font-size: 1.5rem;
  margin: 0 0 3rem;
}
