@import "./breakpoints";

$content-breakpoints: $breakpoint-sm, $breakpoint-md, $breakpoint-lg;

.content {
  margin: 0 2rem;

  @each $breakpoint in $content-breakpoints {
    @media (min-width: $breakpoint) {
      margin: 0 auto;
      max-width: $breakpoint - 40px;
    }
  }
}
