@import "color";
@import "layout";

$breakpoint-xl: 1200px;
$breakpoint-lg: 1000px;
$breakpoint-md: 800px;
$breakpoint-sm: 600px;

// Base style overrides
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

#app {
  overflow-y: scroll;
}
